!! ~/.Xresources

!!
!! rxvt unicode
!!

URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.saveLines: 3000

URxvt.font: xft:Dejavu SanS Mono-18
URxvt.letterSpace: -1

! Special
URxvt.foreground:   #d0d0d0
URxvt.background:   #0a0d1a
URxvt.cursorColor:  #E5E9F0

! Black
URxvt.color0:   #2E3440
URxvt.color8:   #4C566A

! Red
URxvt.color1:   #dd4827
URxvt.color9:   #dd4827

! Green
URxvt.color2:   #00b88e
URxvt.color10:  #00b88e

! Yellow TODO
URxvt.color3:   #00ffff
URxvt.color11:  #00ffff

! Blue
URxvt.color4:   #9abdea
URxvt.color12:  #9abdea

! Magenta
URxvt.color5:   #f4af24
URxvt.color13:  #f4af24

! Cyan
URxvt.color6:   #a3e3d9
URxvt.color14:  #a3e3d9

! White
URxvt.color7:   #f8f8f8
URxvt.color15:  #f8f8f8
